[submodule "submodules/simple-knn"]
	path = submodules/simple-knn
	url = https://gitlab.inria.fr/bkerbl/simple-knn.git
[submodule "submodules/diff-surfel-rasterization"]
	path = submodules/diff-surfel-rasterization
	url = https://github.com/gavingavinchan/diff_surfel_rasterization.git
	branch = sonar-additive-mode
